name: Deploy Backend app on Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.BIDDIUS_AWS_HOST }}
        username: ${{ secrets.BIDDIUS_AWS_SERVER_USER }}
        key: ${{ secrets.BIDDIUS_AWS_SERVER_KEY }}
        script: |
          sudo systemctl stop biddiusApi
          sudo systemctl stop biddiusEvents
          sudo systemctl stop biddiusUpdate

          cd ~ && ./backupDB.sh;

          git pull origin main

          sudo systemctl restart biddiusApi
          sudo systemctl restart biddiusEvents
          sudo systemctl restart biddiusUpdate
        shell: bash -l {0}
